.vs/
NiN3.Tests/bin/
NiN3.Tests/obj/
NiN3.WebApi/bin/
NiN3.WebApi/obj/
NiN3.Infrastructure/obj/
ClassLibrary1/
NiN3.Console/obj/
NiN3.Core/obj/
NiN3.Infrastructure/bin/
NiN3.Console/bin/
NiN3.Core/bin/
.idea/
Infrastructure.Mapping/bin/
Infrastructure.Mapping/obj/
NiN3.WebApi/Properties/
NiN3.WebApi/.config/dotnet-tools.json
